@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "poppins";
}

body {
    background: linear-gradient(to right, #8A2BE2, #FF1493);
    overflow-x: hidden;
}

#header {
    background-color: rgba(128, 128, 128, 0.668);
    padding: 15px;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 200px;
    padding: 40px;
    margin-left: 100px;
}

#navbar {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 800px;
}

#navbar li {
    padding: 0 20px;
}

#navbar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#navbar li a:hover,
#navbar li a.active {
    color: yellow;
}

.cart-icon{
    cursor: pointer;
}

.cart-icon:hover{
    color: yellow;
}

#header {
    display: flex;
    align-items: center;
}

form {
    height: 400px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

label {
    color: white;
    font-size: 22px;
    padding: 5px;
}

.hero {
    margin: 10px;
    margin-top: 20px;
}

.hero input {
    padding: 5px 30px 5px 5px;
    border: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 18px;
}

.hero input::placeholder{
    padding: 5px;
    font-size: 17px;
    opacity: 0.8;
}

button {
    cursor: pointer;
    margin: 20px;
    margin-top: 30px;
    margin-left: 100px;
    padding: 10px 20px 10px 20px;
    border: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.close-btn {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.cart-container {
    display: none;
    position: fixed;
    top: 100px;
    right: 20px;
    background: white;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.cart-container h2{
    font-weight: 500;
    margin-top: 10px;
}

.cart-container ul {
    list-style: none;
    padding: 0;
}

.cart-container li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin-top: 10px;
}

.cart-container p{
    margin-top: 15px;
}

.cart-container button {
    margin-top: 10px;
    font-weight: 500;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    border: #c82333;
    cursor: pointer;
    background-color: #dc3545;
}

.cart-container button:hover {
    color: white;
    background-color: #c82333;
}

footer{
    height: 50px;
    width: 100vw;
    background-color: black;
    margin-top: 60px
}

footer p{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
}

@media (max-width: 768px) {

    body {
        background-size: cover;
    }

    #navbar {
        flex-direction: column;
        margin-left: -70px;
        justify-content: space-between;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .details-panel-1 {
        width: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    video {
        width: 80%;
        height: auto;
        margin-left: 30px;
    }

    .logo img {
        position: relative;
        right: 180px;
    }

    footer p {
        font-size: 15px;
    }

}

@media (max-width: 600px) {
    .cart-container {
        width: 90%;
        right: 5%;
        top: 100px;
    }
    .hero input {
    padding: 5px 2px 5px 5px;
    }
}
